body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    width: 85vw;
    min-height: 80vh;
    max-width: 1024px;
    margin: 25px auto;
    background: rgb(254, 255, 170);
    padding: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.253);
}

.page-view {
    min-height: 40vh;
}

.grid-view div.card.ui {
    margin: 1.15rem;
}

.main-img {
    display: block;
    border-radius: 1;
    margin: 0 auto;
    max-width: 60%;
}

header h1 {
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ui-centered {
    padding: 1.25rem;
    margin-top: .5rem;
}